.inner-div {
  background-color: rgb(61, 59, 59);
  width: 150px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  border-radius: 10%;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: grey;
  margin: auto;
}



